/image/cache/
/nbproject/private/
/system/cache/
/vqmod/logs/
config.php
/admin/config.php
/system/logs/
/.settings/
/deployment.properties
/deployment.xml
/nbproject/private
/nbproject/project.xml
/nbproject/project.properties